:root {
  --color-primario: #a53f00;
  --color-secundario: #ff731c;
  --color-hover:rgb(175, 81, 22);
  --color-mascara: rgba(255, 255, 255, 0.85);
  --color-footer: #c38c69;
  --color-blanco: #ffffff;
  --fuente-principal: "Rosarivo", serif;
  --fuente-secundaria: "Gantari", sans-serif;
  --fuente-terciaria: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuente-terciaria);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-primario);
}