.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.register-left {
  background: #fff;
}

.logo {
  margin-left: 100px;
}

.logo img {
  justify-content: left;
  text-align: left;
  height: 60px;
}

.dish-image {
  margin-left: 50px;
  text-align: center;
  max-width: 75%;
  height: auto;
}

.register-right {
  padding: 40px;
  flex: 1;
}

.register-title {
  color: #9C3A14;
  font-size: 60px;
  font-family: var(--fuente-principal);
  font-weight: bold;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 20px;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 700px;
  height: 40px;
  padding: 10px;
  border: 2px solid #D16B2E;
}

.register-button {
  background-color: #F47C3C;
  color: white;
  padding: 10px 0;
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.register-button:hover {
  background-color: #d96327;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.error-message {
  color: #ff4242;
  white-space: pre-line;
}

.login-link {
  color: black;
  margin-top: 15px;
  margin-right: 50px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: #0056b3;
  text-decoration: none;
} 